<!DOCTYPE html>
<!--[if !(IE 6) | !(IE 7) | !(IE 8)]><!-->
<html lang="en-US" class="no-js">
  <!--<![endif]-->
  {{ partial "head.html" . }}
  <body
    id="the7-body"
    class="privacy-policy page-template-default page page-id-3 wp-embed-responsive the7-core-ver-2.6.0 title-off dt-responsive-on right-mobile-menu-close-icon ouside-menu-close-icon mobile-hamburger-close-bg-enable mobile-hamburger-close-bg-hover-enable fade-medium-mobile-menu-close-icon fade-medium-menu-close-icon srcset-enabled btn-flat custom-btn-color custom-btn-hover-color phantom-sticky phantom-shadow-decoration phantom-main-logo-on sticky-mobile-header mobile-hide-footer top-header first-switch-logo-left first-switch-menu-right second-switch-logo-left second-switch-menu-right right-mobile-menu layzr-loading-on popup-message-style dt-fa-compatibility the7-ver-10.11.0 wpb-js-composer js-comp-ver-6.9.0 vc_responsive"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-dark-grayscale">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 0.49803921568627" />
            <feFuncG type="table" tableValues="0 0.49803921568627" />
            <feFuncB type="table" tableValues="0 0.49803921568627" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-grayscale">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 1" />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB type="table" tableValues="0 1" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-purple-yellow">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR
              type="table"
              tableValues="0.54901960784314 0.98823529411765"
            />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB
              type="table"
              tableValues="0.71764705882353 0.25490196078431"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-blue-red">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 1" />
            <feFuncG type="table" tableValues="0 0.27843137254902" />
            <feFuncB
              type="table"
              tableValues="0.5921568627451 0.27843137254902"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-midnight">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 0" />
            <feFuncG type="table" tableValues="0 0.64705882352941" />
            <feFuncB type="table" tableValues="0 1" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-magenta-yellow">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0.78039215686275 1" />
            <feFuncG type="table" tableValues="0 0.94901960784314" />
            <feFuncB
              type="table"
              tableValues="0.35294117647059 0.47058823529412"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-purple-green">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR
              type="table"
              tableValues="0.65098039215686 0.40392156862745"
            />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB type="table" tableValues="0.44705882352941 0.4" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-blue-orange">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0.098039215686275 1" />
            <feFuncG type="table" tableValues="0 0.66274509803922" />
            <feFuncB
              type="table"
              tableValues="0.84705882352941 0.41960784313725"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <div id="page">
      <a class="skip-link screen-reader-text" href="#content"
        >Skip to content</a
      >
      <div
        class="masthead inline-header right widgets full-height shadow-decoration shadow-mobile-header-decoration small-mobile-menu-icon dt-parent-menu-clickable show-sub-menu-on-hover show-device-logo show-mobile-logo"
        role="banner"
      >
        <div class="top-bar full-width-line top-bar-line-hide">
          <div class="top-bar-bg"></div>
          <div class="mini-widgets left-widgets"></div>
          <div class="right-widgets mini-widgets">
            <a
              href="tel:16048242777"
              class="mini-contacts phone show-on-desktop in-top-bar-left in-menu-second-switch"
              ><i class="fa-fw icomoon-the7-font-the7-phone-06"></i>+1 (604)
              824-2777</a
            ><a
              href="/cdn-cgi/l/email-protection#2457454841576447564542505d54414a43514d4a570a4a4150"
              class="mini-contacts email show-on-desktop near-logo-first-switch in-menu-second-switch"
              ><i class="fa-fw the7-mw-icon-mail-bold"></i
              ><span
                class="__cf_email__"
                data-cfemail="4e3d2f222b3d0e2d3c2f283a373e2b20293b27203d60202b3a"
                >[email&#160;protected]</span
              ></a
            >
          </div>
        </div>
        <header class="header-bar">
          <div class="branding">
            <div id="site-title" class="assistive-text">Crafty Penguins</div>
            <div id="site-description" class="assistive-text">
              Linux Server Consulting, Security Solutions, Managed Services
            </div>
            <a class="same-logo" href="/"
              ><img
                class="preload-me"
                src="https://www.craftypenguins.net/wp-content/uploads/2020/09/logo-57-1.png"
                srcset="
                  https://www.craftypenguins.net/wp-content/uploads/2020/09/logo-57-1.png  179w,
                  https://www.craftypenguins.net/wp-content/uploads/2020/09/logo-114-1.png 360w
                "
                width="179"
                height="57"
                sizes="179px"
                alt="Crafty Penguins" /><img
                class="mobile-logo preload-me"
                src="https://www.craftypenguins.net/wp-content/uploads/2020/09/logo-57-1.png"
                srcset="
                  https://www.craftypenguins.net/wp-content/uploads/2020/09/logo-57-1.png 179w,
                  https://www.craftypenguins.net/wp-content/uploads/2020/09/logo-84-1.png 263w
                "
                width="179"
                height="57"
                sizes="179px"
                alt="Crafty Penguins"
            /></a>
          </div>
          <ul
            id="primary-menu"
            class="main-nav underline-decoration l-to-r-line outside-item-remove-margin"
            role="menubar"
          >
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-62218 current_page_item menu-item-62226 act first depth-0"
              role="presentation"
            >
              <a href="/" data-level="1" role="menuitem"
                ><span class="menu-item-text"
                  ><span class="menu-text">Home</span></span
                ></a
              >
            </li>
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57475 depth-0"
              role="presentation"
            >
              <a href="/services/" data-level="1" role="menuitem"
                ><span class="menu-item-text"
                  ><span class="menu-text">Services</span></span
                ></a
              >
            </li>
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57764 depth-0"
              role="presentation"
            >
              <a href="/technology-stack/" data-level="1" role="menuitem"
                ><span class="menu-item-text"
                  ><span class="menu-text">Technology Stack</span></span
                ></a
              >
            </li>
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57094 depth-0"
              role="presentation"
            >
              <a href="/about/" data-level="1" role="menuitem"
                ><span class="menu-item-text"
                  ><span class="menu-text">About</span></span
                ></a
              >
            </li>
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57100 depth-0"
              role="presentation"
            >
              <a href="/blog/" data-level="1" role="menuitem"
                ><span class="menu-item-text"
                  ><span class="menu-text">Blog</span></span
                ></a
              >
            </li>
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56976 last depth-0"
              role="presentation"
            >
              <a href="/contact-us/" data-level="1" role="menuitem"
                ><span class="menu-item-text"
                  ><span class="menu-text">Contact Us</span></span
                ></a
              >
            </li>
          </ul>
          <div class="mini-widgets">
            <div
              class="mini-search show-on-desktop near-logo-first-switch near-logo-second-switch popup-search custom-icon"
            >
              <form
                class="searchform mini-widget-searchform"
                role="search"
                method="get"
                action="https://www.craftypenguins.net/"
              >
                <div class="screen-reader-text">Search:</div>
                <a href="" class="submit text-disable"
                  ><i class="mw-icon the7-mw-icon-search-bold"></i
                ></a>
                <div class="popup-search-wrap">
                  <input
                    type="text"
                    class="field searchform-s"
                    name="s"
                    value=""
                    placeholder="Type and hit enter …"
                    title="Search form"
                  />
                  <a href="" class="search-icon"
                    ><i class="the7-mw-icon-search-bold"></i
                  ></a>
                </div>
                <input
                  type="submit"
                  class="assistive-text searchsubmit"
                  value="Go!"
                />
              </form>
            </div>
          </div>
        </header>
      </div>
      <div class="dt-mobile-header mobile-menu-show-divider">
        <div class="dt-close-mobile-menu-icon">
          <div class="close-line-wrap">
            <span class="close-line"></span><span class="close-line"></span
            ><span class="close-line"></span>
          </div>
        </div>
        <ul id="mobile-menu" class="mobile-main-nav" role="menubar">
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-62226 first depth-0"
            role="presentation"
          >
            <a
              href="https://www.craftypenguins.net/"
              data-level="1"
              role="menuitem"
              ><span class="menu-item-text"
                ><span class="menu-text">Home</span></span
              ></a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57475 depth-0"
            role="presentation"
          >
            <a
              href="https://www.craftypenguins.net/services/"
              data-level="1"
              role="menuitem"
              ><span class="menu-item-text"
                ><span class="menu-text">Services</span></span
              ></a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57764 depth-0"
            role="presentation"
          >
            <a
              href="https://www.craftypenguins.net/technology-stack/"
              data-level="1"
              role="menuitem"
              ><span class="menu-item-text"
                ><span class="menu-text">Technology Stack</span></span
              ></a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57094 depth-0"
            role="presentation"
          >
            <a
              href="https://www.craftypenguins.net/about/"
              data-level="1"
              role="menuitem"
              ><span class="menu-item-text"
                ><span class="menu-text">About</span></span
              ></a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57100 depth-0"
            role="presentation"
          >
            <a
              href="https://www.craftypenguins.net/blog/"
              data-level="1"
              role="menuitem"
              ><span class="menu-item-text"
                ><span class="menu-text">Blog</span></span
              ></a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56976 last depth-0"
            role="presentation"
          >
            <a
              href="https://www.craftypenguins.net/contact-us/"
              data-level="1"
              role="menuitem"
              ><span class="menu-item-text"
                ><span class="menu-text">Contact Us</span></span
              ></a
            >
          </li>
        </ul>
        <div class="mobile-mini-widgets-in-menu"></div>
      </div>
      <style id="the7-page-content-style">
        #main {
          padding-top: 0px;
        }
      </style>
      <div id="main" class="sidebar-none sidebar-divider-off">
        <div class="main-gradient"></div>
        <div class="wf-wrap">
          <div class="wf-container-main">
            <div id="content" class="content" role="main">
              <div
                data-vc-full-width="true"
                data-vc-full-width-init="false"
                class="vc_row wpb_row vc_row-fluid vc_custom_1601166227578 vc_row-has-fill vc_row-o-equal-height vc_row-flex"
              >
                <div class="wpb_column vc_column_container vc_col-sm-12">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                      <div
                        id="ultimate-heading-38276302a51478041"
                        class="uvc-heading ult-adjust-bottom-margin ultimate-heading-38276302a51478041 uvc-3115 accent-border-color color-title uvc-heading-default-font-sizes"
                        data-hspacer="line_only"
                        data-halign="center"
                        style="text-align: center"
                      >
                        <div
                          class="uvc-main-heading ult-responsive"
                          data-ultimate-target=".uvc-heading.ultimate-heading-38276302a51478041 h2"
                          data-responsive-json-new='{"font-size":"","line-height":""}'
                        >
                          <h2 style="--font-weight: theme">
                            Privacy Policy for Crafty Penguins
                          </h2>
                        </div>
                        <div
                          class="uvc-heading-spacer line_only"
                          style="topheight: 3px"
                        >
                          <span
                            class="uvc-headings-line"
                            style="
                              border-style: solid;
                              border-bottom-width: 3px;
                              border-color: #ccc;
                              width: 100px;
                            "
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_row-full-width vc_clearfix"></div>
              <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                  <div class="vc_column-inner vc_custom_1601166176664">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                          <p>
                            At Crafty Penguins, accessible from
                            www.craftypenguins.net, one of our main priorities
                            is the privacy of our visitors. This Privacy Policy
                            document contains types of information that is
                            collected and recorded by Crafty Penguins and how we
                            use it.
                          </p>
                          <p>
                            If you have additional questions or require more
                            information about our Privacy Policy, do not
                            hesitate to contact us.
                          </p>
                          <p>
                            This Privacy Policy applies only to our online
                            activities and is valid for visitors to our website
                            with regards to the information that they shared
                            and/or collect in Crafty Penguins. This policy is
                            not applicable to any information collected offline
                            or via channels other than this website. Our Privacy
                            Policy was created with the help of the
                            <a href="https://www.privacypolicygenerator.info"
                              >Privacy Policy Generator</a
                            >
                            and the
                            <a
                              href="https://www.privacypolicyonline.com/privacy-policy-generator/"
                              >Free Privacy Policy Generator</a
                            >.
                          </p>
                          <h2>Consent</h2>
                          <p>
                            By using our website, you hereby consent to our
                            Privacy Policy and agree to its terms.
                          </p>
                          <h2>Information we collect</h2>
                          <p>
                            The personal information that you are asked to
                            provide, and the reasons why you are asked to
                            provide it, will be made clear to you at the point
                            we ask you to provide your personal information.
                          </p>
                          <p>
                            If you contact us directly, we may receive
                            additional information about you such as your name,
                            email address, phone number, the contents of the
                            message and/or attachments you may send us, and any
                            other information you may choose to provide.
                          </p>
                          <p>
                            When you register for an Account, we may ask for
                            your contact information, including items such as
                            name, company name, address, email address, and
                            telephone number.
                          </p>
                          <h2>How we use your information</h2>
                          <p>
                            We use the information we collect in various ways,
                            including to:
                          </p>
                          <ul>
                            <li>Provide, operate, and maintain our website</li>
                            <li>
                              Improve, personalize, and expand our website
                            </li>
                            <li>
                              Understand and analyze how you use our website
                            </li>
                            <li>
                              Develop new products, services, features, and
                              functionality
                            </li>
                            <li>
                              Communicate with you, either directly or through
                              one of our partners, including for customer
                              service, to provide you with updates and other
                              information relating to the website, and for
                              marketing and promotional purposes
                            </li>
                            <li>Send you emails</li>
                            <li>Find and prevent fraud</li>
                          </ul>
                          <h2>Log Files</h2>
                          <p>
                            Crafty Penguins follows a standard procedure of
                            using log files. These files log visitors when they
                            visit websites. All hosting companies do this and a
                            part of hosting services&#8217; analytics. The
                            information collected by log files include internet
                            protocol (IP) addresses, browser type, Internet
                            Service Provider (ISP), date and time stamp,
                            referring/exit pages, and possibly the number of
                            clicks. These are not linked to any information that
                            is personally identifiable. The purpose of the
                            information is for analyzing trends, administering
                            the site, tracking users&#8217; movement on the
                            website, and gathering demographic information.
                          </p>
                          <h2>Cookies and Web Beacons</h2>
                          <p>
                            Like any other website, Crafty Penguins uses
                            &#8216;cookies&#8217;. These cookies are used to
                            store information including visitors&#8217;
                            preferences, and the pages on the website that the
                            visitor accessed or visited. The information is used
                            to optimize the users&#8217; experience by
                            customizing our web page content based on
                            visitors&#8217; browser type and/or other
                            information.
                          </p>
                          <p>
                            For more general information on cookies, please read
                            <a
                              href="https://www.cookieconsent.com/what-are-cookies/"
                              >&#8220;What Are Cookies&#8221;</a
                            >.
                          </p>
                          <h2>Advertising Partners Privacy Policies</h2>
                          <p>
                            You may consult this list to find the Privacy Policy
                            for each of the advertising partners of Crafty
                            Penguins.
                          </p>
                          <p>
                            Third-party ad servers or ad networks uses
                            technologies like cookies, JavaScript, or Web
                            Beacons that are used in their respective
                            advertisements and links that appear on Crafty
                            Penguins, which are sent directly to users&#8217;
                            browser. They automatically receive your IP address
                            when this occurs. These technologies are used to
                            measure the effectiveness of their advertising
                            campaigns and/or to personalize the advertising
                            content that you see on websites that you visit.
                          </p>
                          <p>
                            Note that Crafty Penguins has no access to or
                            control over these cookies that are used by
                            third-party advertisers.
                          </p>
                          <h2>Third Party Privacy Policies</h2>
                          <p>
                            Crafty Penguins&#8217;s Privacy Policy does not
                            apply to other advertisers or websites. Thus, we are
                            advising you to consult the respective Privacy
                            Policies of these third-party ad servers for more
                            detailed information. It may include their practices
                            and instructions about how to opt-out of certain
                            options.
                          </p>
                          <p>
                            You can choose to disable cookies through your
                            individual browser options. To know more detailed
                            information about cookie management with specific
                            web browsers, it can be found at the browsers&#8217;
                            respective websites.
                          </p>
                          <h2>
                            CCPA Privacy Rights (Do Not Sell My Personal
                            Information)
                          </h2>
                          <p>
                            Under the CCPA, among other rights, California
                            consumers have the right to:
                          </p>
                          <p>
                            Request that a business that collects a
                            consumer&#8217;s personal data disclose the
                            categories and specific pieces of personal data that
                            a business has collected about consumers.
                          </p>
                          <p>
                            Request that a business delete any personal data
                            about the consumer that a business has collected.
                          </p>
                          <p>
                            Request that a business that sells a
                            consumer&#8217;s personal data, not sell the
                            consumer&#8217;s personal data.
                          </p>
                          <p>
                            If you make a request, we have one month to respond
                            to you. If you would like to exercise any of these
                            rights, please contact us.
                          </p>
                          <h2>GDPR Data Protection Rights</h2>
                          <p>
                            We would like to make sure you are fully aware of
                            all of your data protection rights. Every user is
                            entitled to the following:
                          </p>
                          <p>
                            The right to access – You have the right to request
                            copies of your personal data. We may charge you a
                            small fee for this service.
                          </p>
                          <p>
                            The right to rectification – You have the right to
                            request that we correct any information you believe
                            is inaccurate. You also have the right to request
                            that we complete the information you believe is
                            incomplete.
                          </p>
                          <p>
                            The right to erasure – You have the right to request
                            that we erase your personal data, under certain
                            conditions.
                          </p>
                          <p>
                            The right to restrict processing – You have the
                            right to request that we restrict the processing of
                            your personal data, under certain conditions.
                          </p>
                          <p>
                            The right to object to processing – You have the
                            right to object to our processing of your personal
                            data, under certain conditions.
                          </p>
                          <p>
                            The right to data portability – You have the right
                            to request that we transfer the data that we have
                            collected to another organization, or directly to
                            you, under certain conditions.
                          </p>
                          <p>
                            If you make a request, we have one month to respond
                            to you. If you would like to exercise any of these
                            rights, please contact us.
                          </p>
                          <h2>Children&#8217;s Information</h2>
                          <p>
                            Another part of our priority is adding protection
                            for children while using the internet. We encourage
                            parents and guardians to observe, participate in,
                            and/or monitor and guide their online activity.
                          </p>
                          <p>
                            Crafty Penguins does not knowingly collect any
                            Personal Identifiable Information from children
                            under the age of 13. If you think that your child
                            provided this kind of information on our website, we
                            strongly encourage you to contact us immediately and
                            we will do our best efforts to promptly remove such
                            information from our records.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer id="footer" class="footer solid-bg">
        <div class="wf-wrap">
          <div class="wf-container-footer">
            <div class="wf-container">
              <section
                id="presscore-contact-info-widget-4"
                class="widget widget_presscore-contact-info-widget wf-cell wf-1-4"
              >
                <div class="widget-title">Contact Us</div>
                <div class="widget-info">
                  Kerkhoﬀ Technologies Inc.<br />
                  204 - 45389 Luckakuck Way Chilliwack, BC, V2R 3V1 Canada
                </div>
                <ul class="contact-info">
                  <li>
                    <span class="color-primary">Phone numbers:</span><br /><a
                      href="tel:+16048242777"
                      onclick="gtag('event', 'contact', { event_category: 'Mobile Calls', event_action: 'call'});"
                      >+1 (604) 824-2777</a
                    >
                  </li>
                  <li>
                    <span class="color-primary">E-mail:</span><br /><a
                      href="/cdn-cgi/l/email-protection#1d6e7c71786e5d7e6f7c7b69646d78737a6874736e33737869"
                      onclick="gtag('event', 'contact', { event_category: 'Inquiries', event_action: 'email'});"
                      ><span
                        class="__cf_email__"
                        data-cfemail="d1a2b0bdb4a291b2a3b0b7a5a8a1b4bfb6a4b8bfa2ffbfb4a5"
                        >[email&#160;protected]</span
                      ></a
                    >
                  </li>
                </ul>
              </section>
              <section
                id="presscore-custom-menu-one-15"
                class="widget widget_presscore-custom-menu-one wf-cell wf-1-4"
              >
                <div class="widget-title">Navigation</div>
                <ul class="custom-menu">
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57751 first"
                  >
                    <a href="https://www.craftypenguins.net/services/"
                      >Services</a
                    >
                  </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57763"
                  >
                    <a href="https://www.craftypenguins.net/technology-stack/"
                      >Technology Stack</a
                    >
                  </li>
                </ul>
              </section>
              <section
                id="presscore-custom-menu-one-16"
                class="widget widget_presscore-custom-menu-one wf-cell wf-1-4"
              >
                <div class="widget-title">&nbsp;</div>
                <ul class="custom-menu">
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57753 first"
                  >
                    <a href="https://www.craftypenguins.net/about/">About</a>
                  </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57754"
                  >
                    <a href="https://www.craftypenguins.net/blog/">Blog</a>
                  </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61541"
                  >
                    <a href="https://www.craftypenguins.net/careers/"
                      >Careers</a
                    >
                  </li>
                  <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57752"
                  >
                    <a href="https://www.craftypenguins.net/contact-us/"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </section>
              <section
                id="custom_html-3"
                class="widget_text widget widget_custom_html wf-cell wf-1-4"
              >
                <div class="textwidget custom-html-widget">
                  <center>
                    <br />
                    <br />
                    <img
                      src="/wp-content/uploads/2020/09/logo-white-44.png"
                      alt="Crafty Penguins"
                    />
                    <br /><br />
                    <img
                      src="/wp-content/uploads/2020/09/kti-logo-white.png"
                      alt="Kerkhoff Technologies Inc."
                    />
                  </center>
                </div>
              </section>
            </div>
          </div>
        </div>

        <div id="bottom-bar" class="logo-left" role="contentinfo">
          <div class="wf-wrap">
            <div class="wf-container-bottom">
              <div id="branding-bottom">
                <a class="" href="https://www.craftypenguins.net/"
                  ><img
                    class="preload-me"
                    src="https://www.craftypenguins.net/wp-content/uploads/2020/09/logo-bottom-27-1.png"
                    srcset="
                      https://www.craftypenguins.net/wp-content/uploads/2020/09/logo-bottom-27-1.png 27w,
                      https://www.craftypenguins.net/wp-content/uploads/2020/09/logo-bottom-54-1.png 54w
                    "
                    width="27"
                    height="27"
                    sizes="27px"
                    alt="Crafty Penguins"
                /></a>
              </div>
              <div class="wf-float-left">
                Copyright © 2022 Crafty Penguins | Linux Consultants, United
                States and Canada Linux Consultants
              </div>
              <div class="wf-float-right">
                <div class="mini-nav">
                  <ul id="bottom-menu" role="menubar">
                    <li
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy current-menu-item page_item page-item-3 current_page_item menu-item-57346 act first last depth-0"
                      role="presentation"
                    >
                      <a
                        href="https://www.craftypenguins.net/privacy-policy/"
                        data-level="1"
                        role="menuitem"
                        ><span class="menu-item-text"
                          ><span class="menu-text">Privacy Policy</span></span
                        ></a
                      >
                    </li>
                  </ul>
                  <div class="menu-select">
                    <span class="customSelect1"
                      ><span class="customSelectInner">Useful links</span></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <a href="#" class="scroll-top"
        ><span class="screen-reader-text">Go to Top</span></a
      >
    </div>
    {{ partial "script.html" . }}
    <!---->
    {{ partial "privacy.html" . }}
  </body>
</html>
